﻿body /* al de volgende instellingen hebben te maken met de volledige pagina */
{
	background-color: #CEE4FF; /* stelt de achtergrond van de hele pagina in = lichtblauw */
	font-family: Calibri;  /* stelt het lettertype van de hele website in */
}
#container /* al de volgende instellingen zijn voor al de elementen in de container */
{
	width: 750px;  /* maakt de width gelijk aan 750px dit is ongeveer gelijk een een halve pagina */
	margin: 30px auto 0;  /* stelt de ruimte in rond de kader in dit geval: 30px bovenaan, links en rechts auto = even veel ruimte, dit centreerd de container, 0px onderaan*/
}
#header
{
	width: 100%;
	height: 100px;
	background-image: url("../images/header2.png");  /* stelt de achtergrondafbeelding van de header in = logo*/
}
#nav
{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 20px;  /* vergroot het lettertype naar 20px*/
}
#nav ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	text-align: center;
}
#nav li
{
	display:inline;
	padding: 0 5px;
}
#nav a
{
	text-decoration: none;
	color: #000;
}
#nav a:hover
{
	text-decoration: none;
	color: #AAA;
}
#main
{
	text-align:justify;
	background-color: #E5F1FF;
	border: solid 1px #ccc;  /* geeft de rand van de main box weer*/
	padding: 0px 10px;
	border-radius: 15px;  /* rond de hoeken van de main box af met een straal van 15px*/
	color: #777;
}
#footer
{
	text-align:center;  /* centreerd de tekst*/
	color: #AAA;
	font-size: 11px;
	padding-top: 5px;
}

.box
{
	width: auto;
	display: inline-block;
	font-size: 29px;
	height: auto;
	vertical-align: top; /* here */
}